/* general styles */
html, body {
  height: 100%;
  width: 100%;
}
/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.button-wrapper {
  margin-bottom: 5px;
}

.btn {
  max-width:150px;
  width:100%;
}

.navbar-default{
    background-color: #001f5b;
    border-color: #001f5b;    
}

.nav.navbar-nav.navbar-center li a {
    color: white;   
}

.nav.navbar-nav.navbar-center li a:hover {
    color: black;  
    background-color: #CCC; 
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* additional sections */
#home {
  background: url(../images/parallax1.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#simplify {
  background: url(../images/parallax2.png) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#simplify .panel {
  opacity: 0.85;
}

#enable {
  background: url(../images/parallax3.png) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#enable .panel {
  opacity: 0.85;
}

#leverage {
  background: url(../images/parallax4.png) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#leverage .panel {
  opacity: 0.85;
}

#resource {
  background: url(../images/parallax5.png) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#resource .panel {
  opacity: 0.85;
}

footer {
  padding: 20px 0;
}
