/* general styles */

@font-face {
  font-family: TradeGothic-Bold-Condensed;
  src: url(fonts/TradeGothic-Bold-Condensed.ttf);
}

@font-face {
  font-family: TradeGothic;
  src: url(fonts/TradeGothic.ttf);
}

@font-face {
  font-family: TradeGothic-Bold;
  src: url(fonts/TradeGothic-Bold.ttf);
}

html, body {
  height: 100%;
  width: 100%;
  font-family: TradeGothic;
}
/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.button-wrapper {
  margin-bottom: 5px;
}

.btn {
  max-width: 200px;
  width:100%;
}

.btn-default {
  font-family: TradeGothic-Bold;  
  font-weight: bold; 
}

.button-custom {
  margin-bottom: 10px;
  max-width: 150px;
  width:100%;
}

.navbar-default{
    background-color: #001f5b;
    border-color: #001f5b;    
}

.nav.navbar-nav.navbar-center li a {
    color: white;
    font-family: TradeGothic-Bold;      
}

.nav.navbar-nav.navbar-center li a:hover {
    color: black;  
    background-color: #CCC; 
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.image-fixed {
  max-width: 600px;
  width: auto;

  /*height: auto;*/
}

.image-fixed-r2w {
  max-width: 200px;   
  width: 100%;
}

.navbar-default .navbar-toggle {
  float: left;
  margin-left: 10px;
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/*Center Ready to Win text in header*/
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    color: white;
}
.navbar-toggle {
    z-index:3;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-brand:visited {
  color: white;
}

#home {
  background: url(../images/parallax1.png) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1000;
}

#home .panel {
  opacity: 0.85;
}

#simplify {
  background: url(../images/parallax2.png) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1000;
}
#simplify .panel {
  opacity: 0.85;
}

#enable {
  background: url(../images/parallax3.png) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1000;
}
#enable .panel {
  opacity: 0.85;
}

#leverage {
  background: url(../images/parallax4.png) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1000;
}
#leverage .panel {
  opacity: 0.85;
}

#resource {
  background: url(../images/parallax5.png) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1000;
}
#resource .panel {
  opacity: 0.85;
}

footer {
  padding: 20px 0;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    #home, #simplify, #enable, #leverage, #resource{
        background-attachment: scroll;
    }
}


#floating-buttons { 
  /*height: 104px; 
  width: 104px; */
  padding-left: 25px;  
  position: fixed; 
  top: 40%; 
  z-index: 999;
  /*transform: rotate(-90deg);*/
/*  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); */
  /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}

#floating-buttons a { 
/*  display: block; 
  background: #f00; 
   
  width: 70px; 
  padding: 8px 16px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none; 
  border-bottom: solid 1px #333;
  border-left: solid 1px #333;
  border-right: solid 1px #fff;*/
}

#floating-buttons a:hover { 
  /*background: #06c; */
}


